<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/kendo")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <header>
        <div><img src="~/Content/logo.png" alt="logo" id="imgLogo" /> </div>
        <div id="pnlHead">
            <div style="margin: 0.8em 1em 1.5em 0; display: flex;">
                Welcome
                <div style="margin-left: 1em;"> OFFICEBOX SUPPORT</div>
            </div>
            <div class="navigation-ui">
                <div><a href="#" class="head-links">COMPANY1</a></div>
                <div><a href="#" class="head-links">DEFAULT REGION</a></div>
                <div><a href="#" class="head-links">DEFAULT BRANCH</a></div>
                <div><a href="#" class="head-links">UNIT 1</a></div>
                <div><a href="#" class="head-links">FY2019-2020</a></div>
            </div>
        </div>
        <div style="margin: 0.3em 0.3em 0 0">
            <button id="btnHeaderHelp">Help</button>
            <button id="btnHeaderHome">Home</button>
            <button id="btnHeaderLogout">Logout</button>
        </div>

    </header>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/kendojs")
    @RenderSection("scripts", required: false)

    <div>
        @RenderBody()
    </div>

    <script>
        jQuery(function () {

            /*------------------------- start of header ---------------------------------*/
            $('#btnHeaderHelp').kendoButton();
            $('#btnHeaderHome').kendoButton();
            $('#btnHeaderLogout').kendoButton();
            /*------------------------- end of header -----------------------------------*/
        });
    </script>

</body>
</html>
